body {
	background-color: #6b6e00;
	font-family: "Pacifico", serif;
	font-weight: 400;
	font-style: normal;
}

.city {
	margin: 0;
	font-size: 60px;
	font-weight: 700;
	line-height: 100px;
	color: white;
	font-family: "Pacifico", serif;
	font-weight: 400;
	font-style: normal;
	padding-top: 5px;
}

header {
	padding: 30px 0;
}

.app {
	background-color: rgb(113, 129, 105);
	max-width: 50%;
	margin: 30px auto;
	padding: 30px;
	box-shadow: #cdeae726 0px 5px 15px 0px;
	border-radius: 100px;
}
.search-input {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	border-radius: 100px 0px 0px 100px;
}

.search-input::placeholder {
	padding-left: 5px;
	font-family: "Kumbh Sans", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "YOPQ" 300;
}

.search-button {
	float: right;
	width: 20%;
	padding: 10px;
	background: #3088a6;
	color: white;
	font-size: 16px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	border-radius: 0px 100px 100px 0px;
	font-family: "Kumbh Sans", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "YOPQ" 300;
	transition-duration: 0.4s;
}

.search-button:hover {
	background: #266e86;
	color: white;
}

main {
	padding: 30px;
}

.weather-data {
	display: flex;
	justify-content: space-between;
	font-family: "Kumbh Sans", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	font-variation-settings: "YOPQ" 300;
	flex-wrap: wrap;
}

.weather-details {
	color: white;
}

.temperature-container {
	display: flex;
	justify-content: space-between;
	font-family: "Kumbh Sans", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-size: 60px;
	font-variation-settings: "YOPQ" 300;
	line-height: 100px;
	color: white;
	padding-top: 30px;
}

.forecast {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.date {
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 10px;
	font-family: "Kumbh Sans", serif;
	padding-bottom: 10px;
}

.forecast-icon {
	font-size: 48px;
	text-align: center;
	margin: 10px 0 10px 0;
}

.forecast-temperatures {
	display: flex;
	text-align: center;
	color: white;
	margin-top: 10px;
	justify-content: center;
	font-family: "Kumbh Sans", serif;
}

.forecast-temperature-max {
	padding-right: 5px;
}
.forecast-temperature-min {
	padding-left: 5px;
}

footer {
	font-family: "Kumbh Sans", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	font-variation-settings: "YOPQ" 300;
	text-align: center;
	border-top: 8px groove pink;
	padding: 20px 0 0 0;
	color: #4e5101;
}
a {
	color: #4e5101;
}
